.l-stack {
  display: flex;
  flex-direction: column;
  align-items: var(--lc-stack-align);
  gap: var(--lc-stack-gap);
}

.l-stack > * {
  max-width: 100%;
}

.l-stack--full > * {
  width: 100%;
}

.l-stack--reset-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.l-stack--reset-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
