.l-stack {
  display: flex;
  flex-direction: column;
  align-items: var(--lc-stack-align);
  gap: var(--lc-stack-spacing);
}

.l-stack > * {
  max-width: 100%;
}

.l-stack--full > * {
  width: 100%;
}
