/***********************************************
* Lunt default CSS Variables
************************************************/

[data-lunt-theme="lunt"] {
  --l-text: #111827;

  --l-gray-50: #f9fafb;
  --l-gray-100: #f3f4f6;
  --l-gray-200: #e5e7eb;
  --l-gray-300: #d1d5db;
  --l-gray-400: #9ca3af;
  --l-gray-500: #6b7280;
  --l-gray-600: #4b5563;
  --l-gray-700: #374151;
  --l-gray-800: #1f2937;
  --l-gray-900: #111827;
}
