/***********************************************
* Lunt default CSS Variables
************************************************/

[data-lunt-theme="lunt"] {
  --l-text: #111827;

  --l-gray-50: #f9fafb;
  --l-gray-100: #f3f4f6;
  --l-gray-200: #e5e7eb;
  --l-gray-300: #d1d5db;
  --l-gray-400: #9ca3af;
  --l-gray-500: #6b7280;
  --l-gray-600: #4b5563;
  --l-gray-700: #374151;
  --l-gray-800: #1f2937;
  --l-gray-900: #111827;

  --l-lightblue-50: #f1f9fe;
  --l-lightblue-100: #e2f2fc;
  --l-lightblue-200: #bfe5f8;
  --l-lightblue-300: #86d1f3;
  --l-lightblue-400: #45b9eb;
  --l-lightblue-500: #1da0da;
  --l-lightblue-600: #1081b9;
  --l-lightblue-700: #0e6796;
  --l-lightblue-800: #115e86;
  --l-lightblue-900: #134967;

  --l-green-50: #ecfdf5;
  --l-green-100: #d1fae5;
  --l-green-200: #a7f3d0;
  --l-green-300: #6ee7b7;
  --l-green-400: #34d399;
  --l-green-500: #10b981;
  --l-green-600: #059669;
  --l-green-700: #047857;
  --l-green-800: #065f46;
  --l-green-900: #064e3b;

  --l-red-50: #fff1f2;
  --l-red-100: #ffe4e6;
  --l-red-200: #fecdd3;
  --l-red-300: #fda4af;
  --l-red-400: #fb7185;
  --l-red-500: #f43f5e;
  --l-red-600: #e11d48;
  --l-red-700: #be123c;
  --l-red-800: #9f1239;
  --l-red-900: #881337;

  --l-orange-50: #fffbeb;
  --l-orange-100: #fef3c7;
  --l-orange-200: #fde68a;
  --l-orange-300: #fcd34d;
  --l-orange-400: #fb923c;
  --l-orange-500: #f59e0b;
  --l-orange-600: #d97706;
  --l-orange-700: #b45309;
  --l-orange-800: #92400e;
  --l-orange-900: #78350f;

  --l-purple-50: #f3f3ff;
  --l-purple-100: #ebeafd;
  --l-purple-200: #d9d8fc;
  --l-purple-300: #bdb8fa;
  --l-purple-400: #9b90f5;
  --l-purple-500: #7962f0;
  --l-purple-600: #6741e6;
  --l-purple-700: #592fd2;
  --l-purple-800: #4d29b8;
  --l-purple-900: #3e2290;

  --l-turquoise-50: #f0fdfa;
  --l-turquoise-100: #cdfaf0;
  --l-turquoise-200: #9af5e1;
  --l-turquoise-300: #5ae7ce;
  --l-turquoise-400: #30d1ba;
  --l-turquoise-500: #16b6a1;
  --l-turquoise-600: #0f9283;
  --l-turquoise-700: #11746b;
  --l-turquoise-800: #125d56;
  --l-turquoise-900: #144d48;

  --l-clay-50: #f8fcea;
  --l-clay-100: #ecf8c9;
  --l-clay-200: #ddf197;
  --l-clay-300: #d0e95b;
  --l-clay-400: #c8e12e;
  --l-clay-500: #c0d121;
  --l-clay-600: #c1c41c;
  --l-clay-700: #908818;
  --l-clay-800: #786c1b;
  --l-clay-900: #675a1c;
}
