.l-badge {
  padding: var(--l-space-1) var(--l-space-2);
  border: 1px solid;
  border-radius: var(--l-radii-4);
  font-size: var(--l-font-size-xs);
  line-height: var(--l-font-height-sm);

  &--positive {
    background-color: var(--l-green-200);
    border-color: var(--l-green-400);
    color: var(--l-text);
  }

  &--danger {
    background-color: var(--l-red-200);
    border-color: var(--l-red-400);
    color: var(--l-text);
  }

  &--caution {
    background-color: var(--l-orange-200);
    border-color: var(--l-orange-400);
    color: var(--l-text);
  }

  &--info {
    background-color: var(--l-lightblue-200);
    border-color: var(--l-lightblue-400);
    color: var(--l-text);
  }

  &--neutral {
    background-color: var(--l-gray-200);
    border-color: var(--l-gray-400);
    color: var(--l-text);
  }
}

[data-lunt-feel="soft"] {
  & .l-badge {
    border-radius: var(--l-radii-12);
  }
}

[data-lunt-feel="regular"] {
  & .l-badge {
    border-radius: var(--l-radii-4);
  }
}

[data-lunt-feel="hard"] {
  & .l-badge {
    border-radius: var(--l-radii-0);
  }
}

[data-lunt-space="tight"] {
  & .l-badge {
    padding: var(--l-space-05) var(--l-space-05);
  }
}

[data-lunt-space="regular"] {
  & .l-badge {
    padding: var(--l-space-1) var(--l-space-2);
  }
}

[data-lunt-space="comfy"] {
  & .l-badge {
    padding: var(--l-space-1) var(--l-space-3);
  }
}
